<ul class="list-group" *ngIf="loaded && logs.length > 0">
   <li class="list-group-item align-items-center d-flex justify-content-between" *ngFor="let log of logs" [class.list-group-item-secondary]="selectedLog === log">
      <a href="#" (click)="onSelect(log)">{{ log.text }}</a>
      <span class="log-date">{{ log.date | date: 'dd/MM/yyyy hh:mm a' }}</span>
      <i class="fa fa-remove" (click)="onDelete(log)"></i>
   </li>
</ul>

<div *ngIf="loaded && logs.length == 0">
   <h5>There are no logs to display.</h5>
</div>

<div *ngIf="!loaded">
   <h5>Loading...</h5>
</div>