<h2>Add Post</h2>
<div class="card card-body mb-3">
   <form>
      <div class="form-group">
         <label>Title</label>
         <input class="form-control" type="text" name="title" #title>
      </div>
      <div class="form-group">
         <label>Body</label>
         <input class="form-control" type="text" name="body" #body>
      </div>
      <button (click)="addPost(title.value, body.value)" class="btn btn-dark btn-block">Add Post</button>
   </form>
</div>

<!--  
   We are not doing any fancy two-way data biding or using ngModel for the form. We added an id on the input fields and using the click event to simply submit the input values from the form to the addPost function.

   We do not need to pass in the $event object because we do not need to prevent the default form submission behaviour as the event function is on the button and not on the form submit.
-->